* {
    background-color: #222;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
